{% extends 'base.html' %}
{% load i18n static calculate_font_size taggit_templatetags2_tags %}
{% block header %}
<header class="masthead" style="background-image: url('{% static "img/home-bg.jpg" %}')">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-9 mx-auto">
                <div class="post-heading">
                    <h1>{% trans "All Articles" %}</h1>
                </div>
            </div>
        </div>
    </div>
</header>
{% endblock header %}
{% block content %}
<div class="container">
    <div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">
        <div class="row">
            <div class="col-lg-9 mx-auto">
                {% for article in object_list %}
                {% include "articles/post_preview.html" with article=article %}
                <hr>
                {% endfor %}
            </div>
            <div class="col-lg-3 mx-auto">
                <h4>{% trans "Tag List" %}</h4>
                {% get_taglist as tags for 'articles.Article' %}
                {% for tag in tags %}
                {% if tag.name %}

                <a href="{% url 'article_list_by_tag' tag_slug=tag.slug tag_id=tag.id %}"
                    style="font-size:{{ tag.num_times | calculate_font_size }};">{{ tag.name }}</a>
                {% endif %}
                {% endfor %}
            </div>
            </div>
            </div>

            </div>
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">
                    <div class="pagination">
                        <span class="step-links">
                            {% if page_obj.has_previous %}
                            <a href="?page=1">&laquo; {% trans "first" %}</a>
                            <a href="?page={{ page_obj.previous_page_number }}">{% trans "previous" %}</a>
                            {% endif %}

                            <span class="current">
                                {% blocktrans with pg_number=page_obj.number total=page_obj.paginator.num_pages %}
                                Page {{ pg_number }} of {{ total }}.
                                {% endblocktrans %}
                            </span>

                            {% if page_obj.has_next %}
                            <a href="?page={{ page_obj.next_page_number }}">{% trans "next" %}</a>
                            <a href="?page={{ page_obj.paginator.num_pages }}">{% trans "last" %} &raquo;</a>
                            {% endif %}
                        </span>
                    </div>
        </div>
    </div>
</div>
{% endblock content %}

