{% extends "base.html" %}
{% load i18n static easy_thumbnails_tags %}

{% block header %}
<header class="masthead" style="background-image: url({% thumbnail object.image 1900x600 crop='smart' %})">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="post-heading">
                    <h1>{{object.title}}</h1>
                    <h2 class="subheading">{{object.content | safe | truncatechars_html:25}}</h2>
                    <span class="meta">{% trans "Posted on :" %} {{ object.creation_date | date:"F d, Y" }}</span>
                </div>
            </div>
        </div>
    </div>
</header>
{% endblock header %}

{% block content %}
<article>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                {{ object.content | safe }}
            </div>
        </div>
    </div>
</article>

<div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            <div class="clearfix">
                <a class="btn btn-primary float-right" href="{% url 'article_list' %}">Older Posts &rarr;</a>
            </div>
        </div>
    </div>
</div>
{% endblock content %}