{% load i18n static easy_thumbnails_tags %}
<div class="post-preview">
    <div class="d-flex flex-row">
        <div class="col-xs-4">
            <a href="{{article.get_absolute_url}}">
                <img src="{% thumbnail article.image 160x90 crop='smart' %}" alt="article thumbnail">

            </a>
        </div>
        <div class="col-xs-7 ml-5 flex-column">
            <a href="{{article.get_absolute_url}}">
                <h3 class="post-title">
                    {{ article.title }}
                </h3>
            </a>
            <p class="post-subtitle">
                {{ article.content | safe | truncatechars_html:20 }}
            </p>
            <p class="post-meta">
                {% trans "Posted on :" %} {{ article.creation_date | date:"F d, Y" }}
            </p>
        </div>
    </div>
</div>